* {
  margin: 0px
}

div {
  color: white;
  background-color: black;
}

li {
  font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 6px
}

h1 {
  margin: 24px
}

ul {
  margin-top: 0px
}